<nav class="navbar navbar-default topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
     <%= link_to root_url, id: 'logo', class: 'navbar-brand topnav' do %>

          ** Bus Booking System using Ruby on Rails **
      <% end %>
    </div>
  </div>

</nav>
